.outer{
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}

.card{
    border: 2px solid black;
    height: 350px;
    width: 220px;
    margin-left: 40px;
    border-radius: 13px 13px 0 0;
    box-shadow : 0 4px 8px black;
}

.image{
    width: 220px;
    height: 200px;
    border-radius:13px 13px 0 0;
}

.desc{
    top: 30px;
}

.card:hover{
    box-shadow: 0 8px 16px black;
}