
/* Container to hold the image and overlay content */
.image-container {
    position: relative;
    width: 1539px;
    height: 1000px;
    background :  linear-gradient(257.29deg, rgba(153, 124, 152, 0.6) 6.5%, #FFFFFF 18.5%, rgba(159, 13, 118, 0.27) 41%, #FFFFFF 77.5%, rgba(153, 124, 152, 0.4) 90.5%);
}
  
/* background styling */
.full-width-image {
    width: 1539px;
    height: 100vh; 
    object-fit: cover; 
}

.map{
    width: 800px;
    position: relative;
    left: 600px;
    bottom: 500px;
    height: 480px; 
}

.group{
    position:relative;
    bottom: 190px;
    width:500px;
    height:500px;
}
  
/* Overlay-content styling */
.content-overlay {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #000;
    text-align: center;
    background: linear-gradient(257.29deg, rgba(153, 124, 152, 0.6) 6.5%, #FFFFFF 18.5%, rgba(159, 13, 118, 0.27) 41%, #FFFFFF 77.5%, rgba(153, 124, 152, 0.4) 90.5%);
    padding: 20px;
    border-radius: 10px;
}
  
#purple{
    color: rgb(172, 17, 172);
}  
#blue{
    color: #4b145b;
}
#lightBlue{
    color: #8806b0;
}  

@media screen and  (max-width: 768px){

.image-container{
        width: 500px;
        padding: 1rem;
        height: 700px;
}

.full-width-image{
       width: 100px;
       padding-top: 5rem;
       height: 100px;
}

.map, .group{
    display: none;
}

.content-overlay{
    /* margin-top: 200px; */
    /* margin-bottom: 30px; */
    padding: 0;
    height:500px;
}

}