/* Top Bar */
 
.top-bar {
    width: 1539px; 
    /* width: 100%; */
    /* height: 230px; */
    background-color: #4b145b;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 2rem;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000;  
    box-sizing: border-box; 
}

.social-icons {
    display: flex;
    gap: 1rem;
    color: #fff;
    font-size: 1.5rem;
}
  
  /* Main Navbar */
.main-navbar {
    width:100%;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    left:0;
    /* backdrop-filter: blur(10px);  */
    z-index: 600;
}
  
.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
  
.logo img {
    width: 279px;
    height: 150px;
}

.nav-box {
    background-color: #f5f5f5;
    padding: 0.5rem 1.5rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    height:47px;
    display:flex;
    align-items: center;
    justify-content: center;
}
  
.nav-links {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}
  
.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
}
  
.login-btn {
    padding: 0.5rem 1.5rem;
    background-color: #4b145b;
    color: #fff;
    border: none;
    padding: 10px 65px;
    margin-right: 30px;
}
  
.image1 {
    display:flex;
    width: 1539px; 
    height: 1000px;  
}  

@media screen and (max-width: 768px) {
.top-bar{
    justify-content: flex-start;
}
.main-navbar {
    flex-direction: column;
    align-items: start;
}
  
.nav-box {
    padding: 1px;
}
  
.login-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.image1{
    width: 600px;
    height: 1390px;
    margin-bottom: 10px;
}
}