.state-section {
    width: 1400px;
    padding: 2rem;
    background-color: #f8f8f8;
    /* position: relative; */
    margin: 10px 25px;
}
  
.state-background {
    background: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 2rem;
    text-align: center;
    position: relative;
    overflow: hidden;
}
  
.state-content h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
  
.state-content p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 2rem;
}
  
.state-cards {
    display: flex;
    justify-content: space-around;
}
  
.stat-card {
    flex: 1;
    margin: 0 1rem;
}
  
.stat-card h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}
  
.stat-card p {
    font-size: 1rem;
    color: #777;
}

@media (max-width: 768px) {
    .state-section {
        width: 500px;
        padding: 1rem;
        background-color: #f8f8f8;
    }
    .state-cards {
      flex-direction: column;
      gap: 1.5rem;
    }
}